<!-- on the admin page, show me all of the entries in order to edit/delete -->

<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Admin Console Page</h1>
    </section>

    <section class="content-container-section">
        <a href="/admin/entries">Listing of Entries</a>
    </section>

    <!-- start for..of loop -->
    <% for (entry of featureArray)  { %>
    <div class="content-container-2">
        <div class="content-container-3">
            <h2><%= entry.test %> <%= entry.test2 %></h2>
            <a href="./<%= entry._id %>/update-entry" class="yellow-button link-styling">Edit</a>
            <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                <button class="yellow-button link-styling" type="submit"> Delete </button>
            </form>
        </div>
    </div>
    <% } %>
    <!-- end loop -->
</div>

<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 