<!-- to update the form -->

<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Update an Entry</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<h1>Update An Entry</h1>

<form action="/entries/<%= foundFeature._id %>?_method=PUT" method="POST">
    <div>
        <label for="test"> Test</label>
        <input type="text" name="test" id="test" value="<%= foundFeature.test %>" />
    </div>
    <div>
        <label for="test2"> Test 2</label>
        <input type="text" name="test2" id="test2" value="<%= foundFeature.test2 %>"  />
    </div>
    <div>
        <label for="test3">Test 3</label>
        <input type="text" name="test3" id="test3" value="<%= foundFeature.test3 %>"  />
    </div>
    <div>
        <label for="text1">Text here:</label>
        <textarea name="text1" id="text1" value="<%= foundFeature.text1 %>" ></textarea>
    </div>
    <section class= "center-button">
        <input type="submit" value="Submit" class="yellow-button link-styling" />
    </section> 
</form>

<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 